<!DOCTYPE html>
{{- $page := partial "resolve_page_data.html" . -}}
{{- $pageTitle := .Title | default site.Title -}}
{{- $pageSlug := "" -}}
{{- with $page.page -}}
  {{- $pageTitle = $pageTitle | default .title -}}
  {{- $pageSlug = .slug | default "" -}}
{{- end -}}
<html lang="{{ site.Language.LanguageCode | default site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ $pageTitle }}</title>
    {{- $stylesheets := slice
      "css/site.css"
      "css/components/link-grid.css"
      "css/components/component-list.css"
      "css/components/accordion.css"
      "css/components/carousel.css"
      "css/components/form.css"
      "css/components/section-block.css"
    -}}
    {{- with .Params.stylesheet -}}
      {{- $stylesheets = $stylesheets | append . -}}
    {{- end -}}
    {{- range $stylesheets -}}
      {{- with resources.Get . -}}
        {{- $compiled := . | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $compiled.RelPermalink }}">
      {{- end -}}
    {{- end -}}
  </head>
  {{- $pageShell := "fixed" -}}
  {{- $pageLayoutStrategy := "absolute" -}}
  {{- $pageFlow := "false" -}}
  {{- with $page.page -}}
    {{- with .shell_mode -}}
      {{- $pageShell = . -}}
    {{- end -}}
    {{- with .layout -}}
      {{- with .inferred_strategy -}}
        {{- $pageLayoutStrategy = . -}}
      {{- end -}}
      {{- if .inferred_flow -}}
        {{- $pageFlow = "true" -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <body>
    <div class="page-shell" data-page-shell="{{ $pageShell }}">
      <div class="page-shell__viewport">
        <div
          class="page{{ with $pageSlug }} page--{{ . }}{{ else }} page--site-home{{ end }}"
          data-page-shell="{{ $pageShell }}"
          data-page-layout-strategy="{{ $pageLayoutStrategy }}"
          data-page-flow="{{ $pageFlow }}"
        >
          {{- block "site-header" . }}{{- end }}
          <main class="page-main">
            {{- block "main" . }}{{- end }}
          </main>
          {{- block "site-footer" . }}{{- end }}
        </div>
      </div>
    </div>
    {{- range slice "js/accordion.js" "js/page-shell.js" -}}
      {{- with resources.Get . -}}
        {{- $compiled := . | minify | fingerprint -}}
    <script src="{{ $compiled.RelPermalink }}" defer></script>
      {{- end -}}
    {{- end -}}
  </body>
</html>
