{{- define "site-header" -}}
  {{- $page := partial "resolve_page_data.html" . -}}
  {{- if gt (len $page) 0 -}}
    {{- partial "page_region.html" (dict "page" $page "include" (slice "header" "nav")) -}}
  {{- end -}}
{{- end -}}

{{- define "main" -}}
  {{- $page := partial "resolve_page_data.html" . -}}
  {{- if gt (len $page) 0 -}}
    {{- partial "page_region.html" (dict "page" $page "exclude" (slice "header" "nav" "footer")) -}}
  {{- end -}}
{{- end -}}

{{- define "site-footer" -}}
  {{- $page := partial "resolve_page_data.html" . -}}
  {{- if gt (len $page) 0 -}}
    {{- partial "page_region.html" (dict "page" $page "include" (slice "footer")) -}}
  {{- end -}}
{{- end -}}
