{{- $node := . -}}
{{- if eq $node.kind "text" -}}
  {{- partial "text.html" $node.text | safeHTML -}}
{{- else if eq $node.kind "asset" -}}
  {{- partial "asset.html" $node.asset | safeHTML -}}
{{- else if $node.partial_template -}}
  {{- partial $node.partial_template $node | safeHTML -}}
{{- else -}}
{{- partial "node_open.html" $node | safeHTML -}}
  {{- if eq $node.role "accordion-item" -}}
    {{- range where $node.children "role" "accordion-trigger" -}}
      {{- partial "node.html" . | safeHTML -}}
    {{- end -}}
    {{- range where $node.children "role" "accordion-panel" -}}
      {{- partial "node.html" . | safeHTML -}}
    {{- end -}}
    {{- range $node.children -}}
      {{- if and (ne .role "accordion-trigger") (ne .role "accordion-panel") -}}
        {{- partial "node.html" . | safeHTML -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- range $node.children -}}
      {{- partial "node.html" . | safeHTML -}}
    {{- end -}}
  {{- end -}}
{{- partial "node_close.html" $node | safeHTML -}}
{{- end -}}
